.grid {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: 100px, 50%, 200px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/*By default, grids contain only one column. We can define the columns of our grids by using the CSS property grid-template-columns.You can use pixels or percentage.*/
